.navbar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.navmenu{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

