.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: rgb(112, 82, 60);
}

.navmenu{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
}


.logo{
    font-weight: 800;
    font-size: 24px;
    padding: 20px;
    
}

#cart{
    position: relative;
}